@media only screen and (min-width: 60em){ 
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
 
      
   
   .facebook, .linkedin{/*LOGO SOCIAL NETWORKS*/
    width: 25px;
    /*border-radius: 50%;*/
    /*margin: 20px;*/
    
} 







nav ul li a{
  border-top: none;
  font-size: 1.1rem;
}
nav ul li a.selected{
  transform: scale(1.2);
}


.date-now{
  display: flex;
  justify-content: end;
}
#hamburgerBtn{
  display:none;}
     
    
.hero-link {
  bottom: 40px;
  left: 40px;
  font-size: 2rem;
  padding: 12px 24px;
}

.weather {
  width: 200px;
  top: 30px;
  right: 30px;
  padding: 12px 18px;
  font-size: 2rem;
}

.weather img {
  width: 100px;
  height: 50px;
}

#current-temp{
  font-size: 2rem;
}

.spotlight {
  grid-template-columns: 1fr 1fr 1fr;
  
}
.spot3{
  display: block;
}



/*---------------------JOIN PAGE-------------------*/

input[type="submit"] {
  width: 20%;
  
}
/*------------DIRECTORY PAGE---------------*/
div.cards{
  
  
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}
tr th, tr td {
  flex: 1; /* Hace que todas las celdas ocupen el mismo espacio */
  text-align: center;
  padding: 0.5rem;
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
  border: 0px;
  width: 100%;  
  padding: 0.3rem 0;
  border-top: #ff9800 1px solid;
 
}
.quote-button:hover {
 
  background-color: #aa8643;
  color: white;
}
/*------------CONTACT PAGE----------------*/
.contact-container{
  margin: 1rem auto;
  width: 95%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}
.contact-info{
  display: grid;
  width: 100%;
  grid-column: 1;
  grid-row: 1/3;
  
  grid-template-rows:40% 60% ;
  
}
.contact-data{
  grid-row: 2/3;
  
  height: 80%;
  
}
.image-contact{
  height: 100%;
  grid-row: 1/2;
}

.image-contact img{
  width: 100%;
  height: 100%;
}

.form-contact{
  padding: 0.5rem 0;
  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
  
}



form label.textarea-contact{
  width: 90%;
  }


  /*mision y vision*/
  .mision, .vision {
    width: 48%; /* Dos columnas en pantallas grandes */
    margin: 10px 1%;
}
/*---------------------------DESIGN FOOTER--------------------------*/
.logo-tit-foot{
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
}
.logo-footer{
  width:45%;
}


.data{
  
  display: flex;
  align-items: center;

}

.footer-title{
  text-align: left;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.footer-subt{
  text-align: left;
  font-size: 1.2rem;
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
}


 
  
  

.first-par,.separator{
  display: flex;
  justify-content: center;     
  
  
}

.first-par p{
  font-size: 1.3rem;
}


.info {
display: flex;
  
  justify-content: center;
  
  
}

.location h2, .location a{
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}




.trujillo-images{  /*picture element*/
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
}
}