@media only screen and (min-width: 35rem) {
  
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
main{

    width:100;
    margin:auto}    
    
        
        
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* BIEN distribuido */
    align-items: center;
  }

  nav{
    width: 70%;
  }
nav ul{

    flex-direction: row;
    justify-content: space-around; /* Distribuye el espacio de manera uniforme entre los elementos */
    
   
}


 nav li{
    border: 0;
}

nav ul li a{
  border-top: none;
  font-size: 0.8rem;
}

nav ul li a.selected{
    font-weight: bold;  
    box-shadow: #aa8643;
    color: #aa8643;
    background-color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #aa8643;
    transform: scale(1.1);
}

nav ul li a:hover{
    text-decoration: none;
}
 
    /*css header*/ 

.logo-div {
    width: 50%;
    
    
  flex-direction: row; /* Logo y título horizontal */
}

.logo {
  
  width: 6rem;
  
}

.logo-title .title {
  
  font-size: 2rem;
  margin: 0;
 color:  #41483a;
  font-weight: bold;
} 
  
.hero-link {
    bottom: 30px;
    left: 30px;
    font-size: 1.3rem;
}

.weather {
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 1.6rem;
    
}

.weather h2{
    font-size: 1.5rem;
}

#current-temp{
    font-weight: bold;
    
}
.weather img {
    width: 40px;
    height: 40px;
}



    .spotlight {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
}



    
/*------------------------------------------------*/     
/*DISCOVER PAGE*/
/*DISCOVER PAGE*/
/*DISCOVER PAGE*/
/*DISCOVER PAGE*/
/*DISCOVER PAGE*/


.trujillo-images{  /*picture element*/
display:grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  
grid-gap: 1rem;
justify-content: center;
}
/*JOIN CSS*/
.submitBtn{
    width: 20%;
    margin-left:2rem;
}
.form-mail-to{
 
    width: 50%;
  
  }
  .input{
    display: flex;
    flex-direction: row;
  }

  /*MISION Y VISION*/

  .mision, .vision {
    width: 48%; /* Dos columnas en pantallas medianas */
    margin: 10px 1%;
}
.mision p:nth-child(2), .vision p:nth-child(2) {
    
    font-weight: bold;/* Color para el texto en inglés */
  }
/*---------------------------------------------*/
/*DESIGN FOOTER*/
.logo-tit-foot{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-footer{
    width: 8rem;
    
}
.data{
   
    display: flex;
    align-items: center;

}


.footer-title{
    text-align: left;
    font-size: 1.15rem;
}
.footer-subt{
    text-align: left;
        font-size: 0.8rem;
    }
 
    .location h2, .location a{
        font-size: 0.7rem;
        
        letter-spacing:0.1rem;
        
    }

    .first-par,.separator{
        display: flex;
        justify-content: center;     
        
        
    }
    .info p{
        margin: auto 0.2rem;
    }
.location, title.subt {
     margin: 1rem;
}
.title-subt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}